.container {
  position: relative;
  overflow-y: scroll;
  border-radius: 1rem;
  padding: 1.5rem;
  height: 100%;
  box-shadow: 0 0 10px 2px rgba(109, 109, 109, 20%);
  box-sizing: border-box;
  background: var(--background-gray);
}
