.task-dragging {
  visibility: hidden;
}

.task {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.3rem;
  border: 1px solid #c7c3d4;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  background-color: var(--background-task);
  transition: 0.2s all ease;
  cursor: pointer;
}

.task:hover {
  transform: scale(1.01);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.task-title {
  margin-right: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
}

.task-description {
  margin-bottom: 0.3rem;
  color: var(--description-task);
}

.task-created,
.task-deadline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.1rem;

  :first-child {
    color: var(--primary-text-task);
  }

  :last-child {
    text-align: right;
  }
}

.task-deadline {
  margin-bottom: 0.4rem;
}

.task-text {
  margin-bottom: 0.2rem;
}

.task-tags {
  display: flex;
  grid-gap: 0.2rem;
  font-size: 0.6rem;
}
