.task {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  background-color: #e0e4ea;
}

.task-header {
  display: flex;
  margin-bottom: 0.6rem;
}

.task-title {
  margin-right: 0.6rem;
  font-weight: 700;
}

.task-description {
  margin-bottom: 0.6rem;
  color: #5e6575;
}

.task-created,
.task-deadline {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :first-child {
    color: #6c6c6c;
  }
}
