.project-info {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 280px auto 190px;
}

.info-item {
  display: grid;
  grid-template-columns: 2fr 1fr;

  :last-child {
    text-align: right;
  }

  > div:first-child {
    font-weight: 500;
  }
}

.project-tasks {
  display: grid;
  column-gap: 24px;
  flex: 1;
  grid-template-columns: repeat(4, minmax(320px, 1fr));
  margin-top: 2rem;
}
